*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(bg-image.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    height: 100vh;
    width: 64%;
    background-color: whitesmoke;
    position: fixed;
    right: 0;
}